# Extract sentences from review

1. Seclect low-rating reviews (<=30)

In [1]:
import pandas as pd

In [2]:
hotel_name = 'Sheraton_Grand_Macao'
data = pd.read_csv('{}.csv'.format(hotel_name), header=None, names=['Content', 'Rating'])

In [3]:
data

                                                Content  Rating
0     The most hip and vibrant hotel in the Cotai st...      50
1     This may not be the fanciest hotel on the Cota...      50
2     Short staycation yet amazing. Gorgeous room wi...      50
3     I would like to thank you and your team especi...      50
4     Excellent services. Love all the staff, they a...      50
...                                                 ...     ...
5009  The newly opened Sheraton Macao Hotel, Cotai C...      50
5010  I don't recommend this hotel specially for spe...      20
5011  It seams just that Sheraton also want a share ...      40
5012  Sheraton Macau on Cotai strip just opened 2 da...      50
5013  Decent hotel but not as good as I expected for...      30

[5014 rows x 2 columns]

In [4]:
low_rating_data = data[data['Rating'] <= 30]

In [5]:
low_rating_data.to_csv('{}_low_rating.csv'.format(hotel_name), index=None)

2. Extract sentences

In [17]:
data = pd.read_csv('{}_low_rating.csv'.format(hotel_name))

In [18]:
data

                                               Content  Rating
0    Room is big, with a large bathroom with shower...      30
1    All the filipino staves and security personnel...      10
2    Would not suggest staying here at all. The roo...      10
3    Upon booking, I ordered a non-smoking room, bu...      10
4    Very basic stay in Macau, and as a Titanium El...      20
..                                                 ...     ...
745  When we stay there, Sheraton just opened a wee...      30
746  Bottom Line: Would only recommend staying at t...      20
747  Checked in on 29/9/12 and stayed for one night...      10
748  I don't recommend this hotel specially for spe...      20
749  Decent hotel but not as good as I expected for...      30

[750 rows x 2 columns]

In [19]:
data['Content'].loc[0]

'Room is big, with a large bathroom with shower and bath tub separated. The bathroom amenities like shower gel and shampoo are poor in quality. I have uploaded the TV channel list and laundry price list.   The router in the room provides both wired and wifi connection. Two power outlets at the table and one at bedside'

In [20]:
data['Content'].loc[0].split('.')

['Room is big, with a large bathroom with shower and bath tub separated',
 ' The bathroom amenities like shower gel and shampoo are poor in quality',
 ' I have uploaded the TV channel list and laundry price list',
 '   The router in the room provides both wired and wifi connection',
 ' Two power outlets at the table and one at bedside']

In [21]:
for c in data['Content'].loc[0].split('.'):
    c_ = c.strip()
    print(c_)

Room is big, with a large bathroom with shower and bath tub separated
The bathroom amenities like shower gel and shampoo are poor in quality
I have uploaded the TV channel list and laundry price list
The router in the room provides both wired and wifi connection
Two power outlets at the table and one at bedside

In [32]:
def split_content(content):
    contents = []
    for c in content.split('.'):
        c_ = c.strip()
        contents.append(c_)
    while '' in contents:
        contents.remove('')
    return contents


def main():
    _data = pd.DataFrame()
    start_idx = 50000
    row = 0
    for content_idx, content in enumerate(data['Content']):
        contents = split_content(content)
        for idx, content in enumerate(contents):
            _data.loc[row, 0] = 'c{}'.format(start_idx + content_idx)
            _data.loc[row, 1] = 's{}'.format(idx + 1)
            _data.loc[row, 2] = content
            row += 1
    _data.to_csv('{}_low_rating_labeling.csv'.format(hotel_name), index=None, header=None)

In [27]:
contents = split_content(data['Content'].loc[0])

In [28]:
contents

['Room is big, with a large bathroom with shower and bath tub separated',
 'The bathroom amenities like shower gel and shampoo are poor in quality',
 'I have uploaded the TV channel list and laundry price list',
 'The router in the room provides both wired and wifi connection',
 'Two power outlets at the table and one at bedside']

In [33]:
main()